*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h2{
    color: #fefefe;
}

body{

    background-color: #000000;

}

nav{
    display: flex;
    align-items: center;
    height: 75px;

}

/* Iconos de logo, home y avatar */
#logo, #home, #avatar{
    width: 40px;
    cursor: pointer;
}

#logo{
    margin-left: 20px;
}

/* contenedor de home y busqueda */
#home-search{
    display: flex;
    margin: 0 auto;
    gap: 15px;
}


#search-container{

}

#search{
    height: 40px;
    width: 250px;
    border-radius: 50px;
    background-color: #2a2a2a;
    border: none;
    padding: 10px;
    color: #b3b3af;
}

#avatar{
    border-radius: 30px;
    margin-right: 20px;
}

/* Parte de tu biblioteca */

#biblioteca{
    border: 1px solid red;
    width: 22%;
    padding-top: 20px;
    padding-left:25px;
    border-radius: 15px;
}

.botones-filtro-container{
    margin: 15px 0px;
}
.boton-filtro{
    border-radius: 30px;
    padding: 7px 12px;
    color: white;
    background-color: #2a2a2a;
    font-weight: 500;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}
.boton-filtro:hover{
    background-color: #5c5c66;
    transition: .25s;
}
