*{
  font-family: "Archivo", sans-serif;

}

form {
  width: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input, select, button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error{
  background-color: red;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}