*{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(32, 32, 32);
    color: #FFF;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#logo, #avatar{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.center-bar{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

#podcasts-header{
    margin-top: 200px;
    font-size: 90px;
    background-color: aquamarine;
    /*para que el h1 se vaya hasta abajo*/
    /* height: 230px;
    display: flex;
    align-items: end; */

    height:400px;
    position: relative;
}
/* esto para que h1 vaya abajo */
#podcasts-header h1{    
    margin: 0;
    justify-self: end;
    bottom: 0px;

    position: absolute;
    background-color: transparent;
}

#items{
    display: flex;
    direction: row;
    justify-content: space-evenly;
}

.item{
    width: 200px;
    background-color: black;
    padding-top: 10px;
}
.item img{
    border-radius: 10px;
}
.item p, .item{
    background-color: black;
}